* {
  margin: 0;
  padding: 0;
}
:root {
  --black: #0b100c;
  --dark-purple: #1d2336;
  --dark-blue: #4f728a;
  --white: #e9ecf5;
  --red: #e91116;
  --blue: #4a8fe7;
  --nav-height: 4em;
}
@font-face {
  font-family: NekaLaurent;
  src: url(fonts/neka_laurent/Neka\ Laurent.ttf);
}

/*CSS NAV BAR */

nav {
  z-index: 2;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--dark-purple);
  height: var(--nav-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid color-mix(in srgb, var(--white), var(--dark-purple));
}
nav ul {
  font-size: 0.9em;
  display: flex;
  list-style: none;
}

nav h1 {
  margin-left: 0.3em;
  color: var(--red);
  text-decoration: none;
}
h1 {
  font-family: NekaLaurent;
  font-size: 3em;
  letter-spacing: 0.1em;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.1), 2px -2px 0 var(--black);
}

li a {
  color: white;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}
h1 a {
  text-decoration: none;
  color: red;
  text-shadow: 2px 1px var(--black);
}
nav li a::after {
  background-repeat: no-repeat;
  background-size: 2.5em 2.5em;
  display: inline-block;
  width: 3em;
  height: 2.5em;
  content: "";
}
nav li a[href^="main"]::after {
  background-image: url(fotos/nav-bar-icons/casa.png);
}

nav li a[href^="informacoes"]::after {
  background-image: url(fotos/nav-bar-icons/informacao.png);
}

nav li a[href^="estatisticas"]::after {
  background-image: url(fotos/nav-bar-icons/estatisticas.png);
}

nav li a[href^="votar"]::after {
  background-image: url(fotos/nav-bar-icons/balanca.png);
  padding-left: 1em;
}
@media screen and (max-width: 48.75em) {
  nav li a:hover::after {
    transform: scale(1.2);
    transition: 0.5s ease-in;
  }
}
.linha_y {
  border-left: 1px solid var(--white);
  display: inline;
  height: 2.5em;
  margin: 0 1em;
}

@media screen and (min-width: 48.75em) {
  nav li a::before {
    width: 2em;
    height: 2em;
    font-size: 1.5em;
  }
  nav li a::after {
    background-size: 0em 0em;
    background-image: none;
    width: 0em;
    height: 0em;
  }
  nav li a[href^="main"]::before {
    content: "Home";
  }
  nav li a[href^="informacoes"]::before {
    content: "Informacoes";
  }
  nav li a[href^="estatisticas"]::before {
    content: "Estatisticas";
  }
  nav li a[href^="votar"]::before {
    content: "Votar";
  }

  .linha_y {
    border-left: 1px solid var(--white);
    display: inline;
    height: 2em;
    margin: 0 1em;
  }
}

/*CSS do body*/

body {
  color: var(--white);
  background-image: linear-gradient(var(--dark-blue), var(--black));
  background-attachment: fixed;
  font-family: sans-serif;
}
p,
li {
  font-family: "Open Sans";
}

h2,
h3 {
  font-family: "Oswald";
  letter-spacing: 0.1em;
}

main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - var(--nav-height));
  margin-top: calc(var(--nav-height) + 2vh);
}

main a,
main a:visited {
  color: var(--white);
}

.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(6, auto);
  gap: 10px;
  height: fit-content;
}

main h1 {
  text-align: center;
  font-size: 2em;
  grid-column: 1/-1;
}

p {
  font-size: 0.9em;
}

h2 {
  border: 2px double;
  border-color: var(--red) var(--red) var(--blue) var(--blue);
  font-size: 2em;
  grid-column: 1/-1;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
  background-color: var(--dark-purple);
  text-align: center;
  border-top: 1px solid var(--white);
  margin-top: 3em;
  left: 0;
  bottom: 0;
  padding: 1em;
}

/*CSS MAIN.HTML*/
.fotoContainer {
  width: 90vw;
}
.fotoBalanca {
  width: inherit;
  border: 1px solid var(--white);
}

.descricao,
.fotoContainer,
.foto {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.foto {
  content: url(fotos/main/milgram-mobile.webp);
  width: inherit;
  align-self: center;
  border: 1px solid var(--black);
}

.descricao {
  flex-direction: column;
  gap: 1em;
}

.section {
  display: flex;
  align-items: center;
}

.article {
  grid-column: 1/-1;
}

.caixa {
  height: 15em;
  padding: 1em;
  border: 1px solid var(--white);
  text-align: center;
  box-shadow: 10px 0 10px 0 black;
  background-color: var(--red);
}

.julgamentos {
  margin-top: 1em;
}

.julgamentos:hover {
  transform: rotate(360deg);
  transition: 1.9s ease-in-out;
}
@media screen and (min-width: 48.75em) {
  .foto {
    content: url(fotos/main/milgram-pc.png);
    width: 90vw;
    height: fit-content;
  }
  .fotoBalanca {
    height: 15em;
    width: auto;
  }
}

/*CSS ESTATISTICAS */
.tabelas {
  flex-direction: column;
  align-items: center;
}
.tabelas .linhaTabelas,
table {
  width: 90%;
  color: var(--white);
}
.tabelas .linhaTabelas {
  box-shadow: 0px 1px 0 var(--black);
}
table{
  border-collapse: collapse;
}
.tabelas table {
  background-image: linear-gradient(240deg, #242741, #131027);
  font-size: 0.9em;
}

.tabelas th {
  border: 1px solid white;
}

.inocente,
.culpado {
  font-weight: 900;
}

.inocente {
  color: var(--blue);
}

.culpado {
  color: var(--red);
}

.tabelas td {
  border: 1px solid white;
  text-align: center;
  padding: 0.3em;
}

.tabelas thead {
  letter-spacing: 1px;
}


.tabelas caption {
  margin: 1em;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

hr {
  border-top: 1px solid var(--white);
  margin: 1em;
}


@media screen and (min-width: 48.75em) {
  .tabelas table {
    width: fit-content;
    font-size: 1em;
  }
  .tabelas th,
  .tabelas td {
    padding: 1em;
  }
}
/*CSS INFORMACOES*/

button,
input[type="submit"] {
  cursor: pointer;
}

.containerFotoInformacao,
.imagemTrailer {
  width: inherit;
}
.imagens-novel{
  width: 45vw;
}
.containerFotoInformacao,
.caixaDescricao,
.botaoEscolha, .descricaDaEscolha, .divFotoInfo {
  grid-column: 1/-1;
}
.containerFotoInformacao {
  display: flex;
  justify-content: center;
}
.imagemTrailer {
  box-shadow: 1px 1px 5px var(--red), -1px -1px 5px var(--red);
}
.fotoPrincipalInformacao {
  border-radius: 35px;
  box-shadow: -2px 1px 5px #0b100c;
}

.botaoEscolha {
  width: 100%;
}

.botaoEscolha button {
  width: 100%;
  background-color: color-mix(in srgb, var(--blue), var(--black) 30%);
  color: var(--white);
  padding: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1em;
  border: 1px solid var(--white);
  border-radius: 30px;
  box-shadow: 10px 10px 2px var(--black);
}
.botaoEscolha button:hover {
  background-color: color-mix(in srgb, var(--blue), var(--black) 60%);
  color: color-mix(in srgb, var(--white), var(--black) 30%);
}
.divFotoInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotoSelecao.show {
  width: 70vw;
}



@media screen and (min-width: 48.73em) {
  .caixaDescricao {
    grid-column: span 1;
    width: auto;
    padding: 1em;
    border: 1px solid var(--white);
    height: auto;
  }
  .botaoEscolha {
    grid-column: span 1;
    width: 100%;
  }
  .opcional {
    grid-column: span 1;
  }
  .fotoBalanca{
    box-shadow: 15px 1px 5px var(--black);
  }
  .fotoSelecao.show {
    width: 40vw;
  }
  .descricaoDaEscolha{
    grid-column: span 1;
  }
}
/*CSS VOTOS*/
.armazenaInput{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.botao, .label,.armazenaInput, .formContainer{
  grid-column: 1/-1;
}

.botao {
  display: flex;
  justify-content: center;
}

.label {
  width: 90%;
  text-align: center;
}


input[type="text"],
input[type="submit"] {
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
}

input[type="text"] {
  width: 90%;
  padding: 0.5em 0.5em;
  border-radius: 5px;
}
input[type="submit"] {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  box-shadow: 2px 2px black;
  padding: 0.3em;
  border-radius: 10px;
}
input[type="text"]:hover {
  outline: 1.5px solid var(--white);
  transition: 2s ease-out;
}
input[type="text"]:focus {
  outline: 1.8px solid var(--white);
  transition: 2s ease-out;
}
input[type="submit"]:hover {
  background-color: color-mix(in srgb, var(--white), var(--black) 60%);
}
.botao button {
  min-width: 50vw;
  max-width: 90vw;

  background-color: var(--red);
  color: var(--white);
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  border: none;
  border-radius: 100px;
  padding: 0 1em;
  box-shadow: 2px 2px 2px 2px var(--black), -0.5px -0.5px 2px 2px var(--black);
  text-shadow: 1px 1px var(--black);
}

form {
  margin: 0.5em 0;
}

.botao button:hover {
  background-color: color-mix(in srgb, var(--red), var(--black) 20%);
  color: color-mix(in srgb, var(--white), var(--black) 20%);
}

.formContainer label {
  font-weight: 200;
  letter-spacing: 0.2em;
}

.formContainer {
  margin-top: 0.5em;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
}

#messagemFeedback {
  z-index: 3;
  position: fixed;
  top: 1rem;
  background-color: var(--black);
  color: var(--red);
  justify-content: space-between;
  display: flex;
  padding: 1rem;
  align-items: center;
  font-size: 1.25em;
  transform: translateY(calc(-2rem - 100%));
  transition: 0.3s ease-in-out;
  border: 1px solid var(--white);
  box-shadow: 0em 0.5em 1em black;
  width: 50vw;
}

#messagemFeedback div {
  width: inherit;
  text-align: center;
}

#messagemFeedback p {
  margin-right: 0.51em;
}

#messagemFeedback button {
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  color: var(--red);
}

#messagemFeedback button:focus {
  border: none;
  outline: none;
  color: color-mix(in srgb, var(--red), var(--white) 60%);
}

#messagemFeedback.show {
  transform: translateY(0px);
}

.informacao1.hide {
  transform: translateY(-100vh);
  position: absolute;
}

.informacao2 {
  grid-template-rows: 1fr;
  position: absolute;
  transform: translateY(-200vh);
  gap: 2em;
  align-items: center;
  margin-top: 3em;
}

.informacao2.show {
  position:static;
  transform: translateY(0);
}
.fotoVoto {
  height: 24.5em;
  border-radius: 10px;
  border: 3px double var(--white);
  box-shadow: 1em 1em 0.8em var(--black);
}

#resultado {
  border: 1px solid var(--white);
  position: absolute;
  transform: translateY(-100vh);
  padding: 2em 1em;
  background-image: linear-gradient(transparent, color-mix(in srgb, var(--blue), transparent 50%));
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 1px 5px 3px var(--black);
}
#resultado.show {
  transform: translateY(0);
}
#resultado th{
  border: 1px solid var(--white);
}
#resultado td{
  padding: 0.4em;
  border: 1px solid var(--white);
}
#resultado caption{
  font-size: 1.6em;
  text-shadow: 1px 1px 3px var(--black);
  margin-bottom: 1em;
}
#resultado .botao{
  width: 50%;
  font-size: 0.8em;
}

button a{
  text-decoration: none;
  font-size: 0.8em;
}

@media screen and (min-width: 53em) {
  button a{
    font-size: 1em;
  }
  .label, .fotoContainer {
    grid-column: 1/2;
  }

  .armazenaInput, .formContainer, .descricaoContainer {
    grid-column: 2/3;
  }

  .fotoContainer {
    width: inherit;
    display: flex;
    justify-content: center;
  }
  .formContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .informacao2 {
    grid-template-rows: repeat(3, auto);

  }
  .botao button {
    font-size: 3em;
  }

}
